<% include header%>
<section class="loginsection">
  <div class="login-page">

    <% if(errors=='notmatch'){ %>
      <div class="alert alert-danger fade in">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> username and password dose not match.
        </div>
      <% }else if(errors=='emptyfield'){%>
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Empty Fields ! </strong> Please Enter correct value.
          </div>
        <%} else if(errors=='blockac'){%>
          <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
              <strong>Block Account ! </strong> Sorry Your account is block Please Contact our help desk.
            </div>
          <%}%>



  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form" method='post' action='/'>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password"/>
      <button type="submit">Login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>
</section>
